{{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="ps-2">
                {{ form_row(form.statut) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.leasingValue) }}</div>
                    <div class="col-md-6">{{ form_row(form.accessoryValue) }}</div>
                </div>
                <a type="button" class="d-block btn btn-info btn-xs" data-bs-toggle="modal"
                        data-bs-target="#fichePaieModal">
                    <i class="ti ti-info-circle"></i> A remplir suivant votre bulletin de paie : traitement
                    périodique (par exemple octobre)
                </a>
                <div class="my-2 border border-warning p-2">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.grossAnnualFull) }}</div>
                        <div class="col-md-6">{{ form_row(form.indexValue) }}</div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.monthlyHouseholdResidency) }}</div>
                        <div class="col-md-6">{{ form_row(form.workRegime) }}</div>
                    </div>
                </div>

                <button type="button" class="d-block btn btn-info btn-xs" data-bs-toggle="modal"
                        data-bs-target="#ficheAfaModal">
                    <i class="ti ti-info-circle"></i> A remplir suivant votre bulletin de paie : allocation de
                    fin d'année (AFA)
                </button>
                <div class="my-2 border border-warning p-2">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.taxableAnnualAFA) }}</div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary mr-1 my-3" type="submit"><i class="ti ti-calculator" aria-hidden="true"></i>
                Calculer mon leasing
            </button>
            {{ form_end(form) }}